@inherits LayoutComponentBase

<div>
    <Header />
    <div class="h-[calc(100dvh-4rem)] flex p-4 bg-darkblue">
        <div class="flex-1 flex flex-col rounded-md bg-backdrop p-4">
            <div class="flex-1 overflow-auto">
                @Body
            </div>
        </div>
    </div>
</div>