@inject IPlatformService PlatformService
@inject IImageSaveService ImageSaveService
@inject IJSRuntime JS

<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 backdrop-blur-md" @onclick="CloseModal">
    <div class="relative bg-darkblue bg-opacity-80 backdrop-blur-lg rounded-lg overflow-hidden shadow-lg w-full max-w-2xl" @onclick:stopPropagation="true">
        <div class="flex justify-between p-2">
            <div class="flex space-x-2">
                <button class="text-white hover:text-gray-900" @onclick="SaveImage">
                    <i class="@SaveImageIconClass"></i> @SaveImageText
                </button>
                <button class="text-white hover:text-gray-900" @onclick="CopyImage">
                    <i class="@CopyImageIconClass"></i> @CopyImageText
                </button>
            </div>
            <button class="text-white hover:text-gray-900" @onclick="CloseModal">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="p-4">
            @if (string.IsNullOrEmpty(ErrorMessage))
            {
                <img src="@ImageSrc" alt="Modal Image" class="w-full h-auto rounded-lg" />
            }
            else
            {
                <div class="text-red-500">@ErrorMessage</div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? ImageSrc { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public EventCallback<string> OnError { get; set; }

    private string ErrorMessage { get; set; } = string.Empty;
    private bool isImageSaved = false;
    private bool isImageCopied = false;

    private string SaveImageIconClass => isImageSaved ? "fas fa-check text-green-500 animate-iconChange" : "fas fa-save animate-iconChange";
    private string CopyImageIconClass => isImageCopied ? "fas fa-check text-green-500 animate-iconChange" : "fas fa-copy animate-iconChange";
    private string SaveImageText => isImageSaved ? "Image Saved" : "Save Image";
    private string CopyImageText => isImageCopied ? "Image Copied" : "Copy Image";

    protected override void OnInitialized()
    {
        platformName = PlatformService.GetPlatform();
    }

    private string platformName { get; set; } = string.Empty;

    private async Task CloseModal()
    {
        try
        {
            if (OnClose.HasDelegate)
            {
                await OnClose.InvokeAsync();
            }
        }
        catch (Exception ex)
        {
            HandleError($"Error closing modal: {ex.Message}");
        }
    }

    private void HandleError(string message)
    {
        ErrorMessage = message;
        if (OnError.HasDelegate)
        {
            OnError.InvokeAsync(message);
        }
        StateHasChanged();
    }

    private async Task SaveImage()
    {
        try
        {
            if (!string.IsNullOrEmpty(ImageSrc))
            {
                var fileName = $"image_{DateTime.Now:yyyyMMdd_HHmmss}.png";
                await ImageSaveService.SaveImageAsync(ImageSrc, fileName);

                isImageSaved = true;
                StateHasChanged();

                await Task.Delay(2000);
                isImageSaved = false;
                StateHasChanged();
            }
            else
            {
                HandleError("No image to save.");
            }
        }
        catch (Exception ex)
        {
            HandleError($"Error saving image: {ex.Message}");
        }
    }

    private async Task CopyImage()
    {
        try
        {
            if (!string.IsNullOrEmpty(ImageSrc))
            {
                await JS.InvokeVoidAsync("copyImageToClipboard", ImageSrc);

                isImageCopied = true;
                StateHasChanged();

                await Task.Delay(2000);
                isImageCopied = false;
                StateHasChanged();
            }
            else
            {
                HandleError("No image to copy.");
            }
        }
        catch (Exception ex)
        {
            HandleError($"Error copying image: {ex.Message}");
        }
    }
}
